<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BOOTSTRAP CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <!-- OUR CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <title>Steam API Dashboard</title>
  </head>
  <body>
    <!-- NAVIGATION MENU -->
    <nav class="navbar navbar-expand-lg navbar-dashboard">
      <div class="container-fluid">
        <span class="dashboard-header">Steamy App - Gaming Just Got Steamy</span>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="/admin" class="btn btn-primary nav-btn">Admin Portal</a>
            </li>
            <li class="nav-item">
              <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-primary nav-btn">Log Out</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <% if (message.length > 0) { %>
      <div class = "alert alert-success alert-text" role="alert">
        <%= message %>
      </div>
   <% } %>

    <div class="dashboard-container">
      <!-- <div class="admin-container fade-in"> -->
      <!-- <a href="/admin" class="btn btn-primary nav-btn admin-btn">Admin P ortal</a> -->
      <a href="/getRandomGame" class="page-btn fade-in">
        <img class="admin-image admin-container" src="/images/SteamGameShuffle.png" />
        <!-- <p>Choose a Random Game to Play</p> -->
      </a>
      <!-- </div> -->

      <!-- Three Link Containers -->
      <div class="page-container">
        <!-- Game News -->
        <a href="/getFeaturedGames" class="page-btn game-news-container animated">
          <p class="page-text">Featured Games</p>
        </a>

        <!-- Owned Games -->

        <a href="/getownedgames" class="page-btn owned-games-container animated">
          <p class="page-text">My Owned Games</p>
        </a>

        <!-- Friends List -->
        <a href="/getFriendsList" class="page-btn friends-list-container animated">
          <!-- <img class="" src="/images/placeholder.jpg" /> -->
          <p class="page-text">Friends List</p>
        </a>
      </div>
    </div>

    <!-- BOOTSTRAP JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

    <!-- OUR JS FILE -->
    <script src="./javascripts/script.js"></script>
  </body>
</html>
