<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet" />

    <!-- BOOTSTRAP CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <!-- OUR CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <title>Steam API Dashboard</title>
  </head>
  <body>
    <!-- NAVIGATION MENU -->
    <!-- <nav class="navbar navbar-expand-lg bg-light"> -->
    <nav class="navbar navbar-expand-lg navbar-dashboard">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Group 4 - Steam API</a> -->
        <span class="group">Group 4 - Steam API</span>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a href="/getnews" class="btn btn-primary nav-btn">Game News</a>
            </li> -->
            <!-- <li class="nav-item">
              <a href="/getownedgames" class="btn btn-primary nav-btn">Owned Games</a>
            </li> -->
            <!-- <li class="nav-item">
              <a href="/admin" class="btn btn-primary nav-btn">Admin Portal</a>
            </li> -->
            <li class="nav-item">
              <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-primary nav-btn">Log Out</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="dashboard-container">
      <!-- <div class="admin-container fade-in">
        <h1>Admin items here</h1>
        <a href="/admin" class="btn btn-primary nav-btn admin-btn">Admin P ortal</a>
      </div> -->

      <!-- Three Link Containers -->
      <div class="page-container">
        <div class="animated game-news-container">
          <img src="/images/placeholder.jpg" class="page-img" />
          <p class="page-text">Get the most recent game news</p>
          <li class="page-btn">
            <a href="/getnews" class="btn btn-primary nav-btn page-btn">Game News</a>
          </li>
        </div>
        <div class="animated owned-games-container">
          <img src="/images/placeholder.jpg" class="page-img" />
          <p class="page-text">Display your owned games on Steam</p>
          <li class="page-btn">
            <a href="/getownedgames" class="btn btn-primary nav-btn page-btn">Owned Games</a>
          </li>
        </div>
        <div class="animated friends-list-container">
          <img src="/images/placeholder.jpg" class="page-img" />
          <p class="page-text">Display your friends list on Steam</p>
          <li class="page-btn">
            <a href="/friendsplaceholder" class="btn btn-primary nav-btn page-btn">Friends List</a>
          </li>
        </div>
      </div>
    </div>

    <!-- <div class="dashboard-container">
      <div class="admin-container">admin</div>
      <div class="page-container">
        <div class="animated fadeInLeft game-news-container">Game News</div>
        <div class="owned-games-container">Owned Games</div>
        <div class="friends-list-container">Friends List</div>
      </div>
    </div> -->

    <!-- BOOTSTRAP JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

    <!-- OUR JS FILE -->
    <script src="./javascripts/script.js"></script>
  </body>
</html>
