/* COLOR SCHEMES 
STEAM COLORS
Nav-items: color: #66c0f4
Background-color: #1b2838;
Font-family: Motiva Sans
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Fira Sans", sans-serif; */
  /* font-family: "Passion One", cursive; */
  /* Steam Background */
  background-color: #1b2838;
  color: white;

  /* font-family: "Roboto Slab", serif; */
  font-family: "Oswald", sans-serif;
}

html {
  /* This makes 1rem = 10px */
  font-size: 62.5%;

  /* Hides scrollbars during Container Animations */
  /* overflow: hidden; */
}

/* .navbar {
  font-size: 2rem;
  color: white;
  border: 2px solid #0d6efd;
  padding: 12px;
  box-shadow: 0px 1px 15px 5px rgb(0 0 0 / 30%);
} */

.navbar-brand {
  font-size: 2rem;
  color: white;
}

.form-control {
  font-size: 1.6rem;
}

.btn {
  font-size: 1.6rem;
}

.navbar-brand:hover,
.nav-link:hover {
  color: rgb(177, 177, 177);
}

/* Shrink Create/Login Buttons */
/* .nav-btn {
  font-size: 1.2rem;
  gap: 3rem;
  column-gap: 3rem;
  row-gap: 3rem;
} */

.navbar-collapse {
  flex-grow: 0;
}

.search-box {
  display: flex;
}

.navbar-nav {
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.login-btn {
  margin-right: 1rem;
}

/* CONTACT SECTION */
.contact-section {
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 20px;
  max-width: 70rem;
  margin-bottom: 12rem;
  border: 3px solid white;
}

.modal-dialog {
  justify-content: center;
}

.modal-content {
  border-radius: 0;
  max-width: 40rem;
  min-height: 30rem;
  background-color: white;
  padding: 0px 0px 0px 0px;
}

.modal-content__login {
  border-radius: 0;
  max-width: 40rem;
  min-height: 24rem;
  padding-bottom: none;
}

.modal-header {
  background-color: #333;
  border-radius: 0;
  padding: 1rem;
}

.modal-title {
  display: border-box;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 400;
  color: #777;
  top: 0%;
  justify-content: center;
  width: 100%;
}

.modal-body {
  padding: 2rem;
}

.modal-textbox {
  border: none;
  border-bottom: 1px solid rgb(212, 212, 212);
  outline: none;
}

.modal-textbox:focus,
.modal-textbox:active {
  /* Remove blue glow */
  box-shadow: none;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.btn-close {
  font-size: 2rem;
}

/* Submit & Cancel Button */
.modal-btns-container,
.modal-btns-container-login {
  display: flex;
  justify-content: flex-end;
  margin-top: 3.5rem;
  column-gap: 1rem;
}

/* Submit & Cancel Button */
.modal-btns-container-login {
  column-gap: 0rem;
}

/**********************************************************/
/* INTRO SECTION */
.intro-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 30rem;

  /* CONTAINER OUTLINE */
  /* border: 2px solid #0d6efd; */
}

.intro-heading {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* User Input Button - Will give us Link to fetch */
.btn-submit,
.nav-btn,
.modal-btn {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.2rem;
  vertical-align: middle;
  color: #0d6efd;
  border: 3px solid #0d6efd;
  background-color: rgb(0, 0, 0, 0);

  font-family: "Roboto Slab", serif;
}

.nav-btn {
  font-size: 1.2rem;
  gap: 3rem;
  column-gap: 3rem;
  row-gap: 3rem;
  padding: 0.4rem;
  border-radius: 0;
  border: 2px solid #0d6efd;
}

.modal-btn {
  color: white;
  /* background-color: #0d6efd; */
  background-color: #3081fa;

  width: 50%;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
}

.modal-btn:hover,
.modal-btn:active {
  /* background-color: #3081fa; */
  background-color: #0d6efd;
}

.modal-btn-cancel {
  border-radius: 0;
  font-weight: 700;
}

.btn-submit:hover,
.btn-submit:active {
  color: white;
  background-color: #0d6efd;
  border: 3px solid #0d6efd;

  transition: all 500ms ease;
}

.user-textbox {
  font-size: 2rem;
  vertical-align: middle;
  min-width: 30vw;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid;
  border-bottom: 3px solid #0d6efd;
  color: white;
  outline: none;
}

.user-textbox:hover,
.user-textbox:focus {
  border-bottom: 3px solid white;
  transition: 300ms ease;
}
.user-input-form {
  display: flex;
  flex-direction: column;
  /* column-gap: 2rem; */
  row-gap: 2rem;
}
/**********************************************************/
/* GAME SECTION */
/* Vertically/Horizontally centers games in container */
.center-games {
  width: 100vw;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* CONTAINER OUTLINE */
  /* border: 2px solid #0d6efd; */
}

/* Container for games list */
.game-container {
  /* margin: 0 auto; */
  /* max-width: 120rem; */
  /* max-height: 200rem; */
  font-size: 3rem;
  /* border: 2px solid #0d6efd; */
}

/* Contains all games(1-10+ games) */
.game-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 5rem;
  list-style: none;
  padding: 1rem;
  column-gap: 3rem;
  row-gap: 3rem;
  /* border: 2px solid #0d6efd; */
}

/* Individual Game */
.game img {
  text-align: center;
  max-width: 15rem;
  max-height: 25rem;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5); */
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.5);
  /* border: 2px solid #0d6efd; */
}

.game img:hover {
  transform: scale(1.1);
  transition: all 400ms ease-in;
  cursor: pointer;
}

/**********************************************************/
/* MEDIA QUERIES */
/* Collapse */
@media (max-width: 991.98px) {
  /* Resize for collapse */
  .search-box {
    width: 22rem;
  }

  .login-btn {
    margin-bottom: 1rem;
  }

  .navbar-nav {
    align-items: flex-start;
  }
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/* EXPRESS STYLING */

/* EXPRESS APP STYLING - NEW */
.register-container,
.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn-secondary {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  /* border: 3px solid #0d6efd; */
  background-color: #999;
}

.modal-btn-secondary:hover {
  color: white;
  background-color: #777;
}

.group {
  font-size: 32px;
}

/***********************************************/
/* ADMIN PORTAL */
.admin-header {
  text-align: center;
  font-size: 16px;
  /* font-size: 12px; */

  /* Dark Mode */
  color: white;

  /* Light Mode */
  /* color: black; */
}

.table-element {
  font-size: 16px;
}

.admin-row,
.admin-email,
.admin-password,
.admin-id,
.admin-apikey {
  font-size: 16px;
  vertical-align: middle;
  border-left: 1px solid #373b3e;

  /* Dark Mode */
  color: white;

  /* Light Mode */
  /* color: black; */
}

th.compare-name,
td.compare-name {
  width: 40%;
  font-size: 16px;
}

th.admin-row {
  padding-left: 10px;
  padding-right: 10px;
  width: 50px;
  /* border-left: 1px solid #373b3e; */
}

.admin-id {
  text-align: center;
}

.admin-apikey {
  border-right: 1px solid #373b3e;
  text-align: center;
}

td.admin-actions {
  border-right: 1px solid #373b3e;
  display: flex;
  justify-content: center;
  column-gap: 6px;
  padding: 10px 10px 10px 10px;
}

td.friends-list-actions {
}

th.action-friends-list {
  width: 40%;
}

.action-btn {
  color: white;
  background-color: #0d6efd;
}
/***********************************************/

.text-size {
  font-size: 32px;
  padding-left: 20px;
}

/* getnews.ejs - GET GAME NEWS PAGE*/
.page-header {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.margin-top {
  margin-top: 50px;
}

/* getnews.ejs - GET GAME NEWS PAGE*/
.page-footer {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.custom-table {
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.3);
}

.friends-list-table {
  width: 1000px;
}

.compare-games-table-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.center-table-compare {
  /* max-width: 800px; */
  /* margin: 0 auto; */
  margin: 0 auto;
}

/* Have to style in here because of Bootstrap */
.table > :not(caption) > * > * {
  /* padding: 20px; */
  padding: 10px;
  /* border-radius: 25px;
  border-radius: 2px solid white; */
}

table.custom-table {
  border: 2px solid #373b3e;
  /* border: 2px solid white; */
  /* border-right: 1px solid white;
  border-bottom: 1px solid white; */
  padding: 200px;
  /* border-radius: 50%; */
}
/* thead,
th,
tr,
td {
  padding: 30px;
} */

.row-hover:hover {
  transform: scale(1.04);
  transition: 200ms ease-in-out;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.3);
}

.row-hover-admin:hover {
  transform: scale(1.02);
  transition: 200ms ease-in-out;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.3);
}

.table-header {
  font-size: 22px;

  font-weight: 600;
}

.description {
  font-size: 18px;
}

.api-text {
  font-size: 18px;
}

.center-table {
  max-width: 800px;
  margin: 0 auto;
}

.center-table-admin {
  max-width: 1500px;
  padding-top: 100px;
  margin: 0 auto;
}

.center-table-friends {
  max-width: 900px;
  padding-top: 15px;
  margin: 0 auto;
}

/* getOwnedGames */
img.game-icon {
  display: block;
  margin: 0 auto;
}

/*************************************************/
/* GET FRIENDS */
/*************************************************/
/* getnews.ejs - GET GAME NEWS PAGE*/
.page-header,
.page-header-friends,
.page-header-game-news {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.navbar {
  font-size: 2rem;
  color: white;
  /* border: 2px solid #0d6efd; */
  padding: 8px 12px 12px 12px;

  box-shadow: 0px 1px 15px 5px rgb(0, 0, 0, 0.3);
}

.fade-in {
  margin-top: 25px;
  font-size: 16px;
  text-align: center;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*************************************************/
/* INDEX/DASHBOARD */
/*************************************************/
/* Will contain all grid-items on screen */
.navbar-dashboard:hover {
  /* font-size: 2rem;
  color: white; */
  /* border: 2px solid #0d6efd; */
  /* padding: 8px 12px 12px 12px;

  box-shadow: 0px 1px 15px 5px rgb(0, 0, 0, 0.3); */
  transition: 300ms ease-in-out;
  box-shadow: 0px 1px 15px 5px rgb(67, 147, 205);
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
}

.page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* margin-left: 10vw; */
  margin-left: 13vw;
  margin-right: 10vw;
  margin-top: 4vw;
  position: relative;
  margin-bottom: 100px;
}

.page-img {
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;

  width: 80%;
  height: 50%;
}

.page-text {
  text-align: center;
}

.page-btn {
  list-style: none;
  margin: 0 auto;
  padding: 5px;

  font-size: 16px;
  font-weight: 700;
  vertical-align: middle;
  color: #0d6efd;
  /* border: 2px solid #0d6efd; */
  background-color: rgb(0, 0, 0, 0);

  font-family: "Roboto Slab", serif;
}

/* editUSER PAGE */

.user-container {
  width: 50vw;
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #131d2a;
  border-radius: 12px;

  box-shadow: 0px 1px 15px 5px rgb(0, 0, 0, 0.3);
  border: 1px solid rgb(211, 211, 211);
  /* flex-direction: column; */
}

.user-container:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 1px 15px 5px rgb(67, 147, 205);
}

.user-btn {
  width: 100%;
  justify-content: center;
  align-self: center;
}

.user-cancel-btn {
  width: 50%;
  justify-content: end;
  /* align-content: flex-end;
  align-self: flex-end; */
  justify-content: end;
  color: #999;
  border: 2px solid #999;
}

.label-text {
  color: white;
}

.user-form-label {
  font-size: 12px;
  margin-bottom: 5px;
}

.user-input-textbox {
  /* margin-top: 10px; */
  margin-bottom: 10px;
}

.user-nav {
  font-size: 20px;
}

/****************************************************** */

.game-news-container,
.owned-games-container,
.friends-list-container {
  display: flex;
  flex-direction: column;
  /* opacity: 0; */
  font-size: 24px;
  max-width: 435px;
  max-height: 400px;

  /* row-gap: 35px; */

  /* background-color: #373b3e; */
  background-color: #131d2a;

  border-radius: 12px;
  border: 2px solid #373b3e;
  box-shadow: 0px 1px 15px 5px rgb(0, 0, 0, 0.3);
  border: 1px solid rgb(211, 211, 211);
}

.game-news-container:hover,
.owned-games-container:hover,
.friends-list-container:hover,
.admin-container:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 1px 15px 5px rgb(67, 147, 205);
}

.fadeInLeft {
  /* -webkit-animation: fadeInLeft 1.2s both;
  animation: fadeInLeft 1.2s both; */
  -webkit-animation: fadeInLeft 1.4s both;
  animation: fadeInLeft 1.4s both;
}

.fadeInRight {
  /* -webkit-animation: fadeInRight 1.2s both;
  animation: fadeInRight 1.2s both; */
  -webkit-animation: fadeInRight 1.4s both;
  animation: fadeInRight 1.4s both;
}

.fadeInBottom {
  /* -webkit-animation: fadeInBottom 1.2s both;
  animation: fadeInBottom 1.2s both; */
  -webkit-animation: fadeInBottom 1.4s both;
  animation: fadeInBottom 1.4s both;
}

@keyframes fadeInLeft {
  /* 0% OF THE ANIMATION */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
  }

  /* Goes 50px PAST destination */
  50% {
    -webkit-transform: translateX(50px);
  }

  /* 100% OF THE ANIMATION - COMPLETION */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
/* Goes from LEFT to RIGHT */
@-webkit-keyframes fadeInLeft {
  /* 0% OF THE ANIMATION */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
  }

  /* Goes 50px PAST destination */
  50% {
    -webkit-transform: translateX(50px);
  }

  /* 100% OF THE ANIMATION - COMPLETION */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInBottom {
  /* 0% OF THE ANIMATION */
  0% {
    opacity: 0;
    -webkit-transform: translateY(250px);
  }

  /* Goes 50px PAST destination */
  50% {
    -webkit-transform: translateY(-50px);
  }

  /* 100% OF THE ANIMATION - COMPLETION */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* Goes from BOTTOM to TOP */
@-webkit-keyframes fadeInBottom {
  /* 0% OF THE ANIMATION */
  0% {
    opacity: 0;
    -webkit-transform: translateY(250px);
  }

  /* Goes 50px PAST destination */
  50% {
    -webkit-transform: translateY(-50px);
  }

  /* 100% OF THE ANIMATION - COMPLETION */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInRight {
  /* 0% OF THE ANIMATION - Starts 250px from the RIGHT*/
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
  }

  /* Goes 50px PAST destination */
  50% {
    -webkit-transform: translateX(-50px);
  }

  /* 100% OF THE ANIMATION - COMPLETION */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
/* 
Goes from RIGHT to LEFT
0px = endpoint, 250px = right/starting point 
*/
@-webkit-keyframes fadeInRight {
  /* 0% OF THE ANIMATION - Starts 250px from the RIGHT*/
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
  }

  /* Goes 50px PAST destination */
  50% {
    -webkit-transform: translateX(-50px);
  }

  /* 100% OF THE ANIMATION - COMPLETION */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

/* FADE IN ANIMATION/KEYFRAMES */
.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  row-gap: 15px;

  font-size: 24px;
  max-width: 70vw;
  min-height: 400px;
  /* border: 2px solid #0d6efd; */
  /* margin: 0 auto; */
  margin-left: 15vw;
  margin-top: 2vw;

  background-color: #131d2a;

  border-radius: 12px;
  border: 2px solid #373b3e;
  box-shadow: 0px 1px 15px 5px rgb(0, 0, 0, 0.3);
  border: 1px solid rgb(211, 211, 211);
}

.admin-btn {
  width: 25%;
}

/* TESTING FADE IN */
.fade-in {
  /* COMPLETES FADE IN 5 SECS */
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* WILL BE USED TO FADE IN OUR INTRO AND ABOUT SECTION */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.error-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #0d6efd; */
  width: 100vw;
  height: 90vh;
}

.error-text {
  font-size: 48px;
}

.error-btn {
  margin-top: 20px;
}

.achievements-container {
  max-width: 700px;
}
